.form { display: inherit; }

.form__wrapper { background-color: white; border: 1px solid black; border-radius: 12px; margin: 10px; padding: 10px; display: -ms-grid; display: grid; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form-coordinate-x__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 8px 4px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.form-coordinate-x__label { padding: 4px; width: 100%; }

.form-coordinate-x__input { width: 80px !important; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transform: scale(1.2); transform: scale(1.2); padding: 8px; }

.form-coordinate-y__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 8px 4px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.form-coordinate-y__label { color: black; }

.form-coordinate-y__input { border: 1px solid #acafc6bf; border-radius: 4px; margin: 4px; padding: 8px; }

.form-radius__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 8px 4px; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.form-radius__label { color: black; }

.form-radius__input { margin: 4px; }

.form-userbuttons__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 8px 4px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form-userbuttons__submit { width: 80px; }

.form-userbuttons__clean { width: 80px; }

.svg-container { display: inherit; }

.svg-container__svg { background-color: white; border: 1px solid black; border-radius: 12px; margin: 10px; cursor: crosshair; }

/*Table*/
.table-container { -ms-grid-column: 1; grid-column-start: 1; grid-column-end: 3; }

.table-container__table { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[4] 1.5fr 1fr; grid-template-columns: repeat(4, 1fr) 1.5fr 1fr; font-size: 0.9em; border-collapse: collapse; margin: 0 0 10px 0; border-radius: 8px; }

.table > thead, .table > thead tr, .table > tbody, .table > tbody tr { display: contents; }

.table > thead tr th, .table > tbody tr td { padding: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; background-color: white; border-style: solid; border-color: black; border-width: 1px 1px 0 0; }

.table > thead tr th { border-bottom-width: 1px; }

.table > tbody tr:first-child > td { border-top: 0; }

.table > thead tr > th:first-child, .table > tbody tr > td:first-child { border-left-width: 1px; }

.table > tbody > tr:last-child > td { border-bottom-width: 1px; }

.table > thead tr th:first-child { border-radius: 8px 0 0 0; }

.table > thead tr th:last-child { border-radius: 0 8px 0 0; }

.table > tbody tr:last-child > td:first-child { border-radius: 0 0 0 8px; }

.table > tbody tr:last-child > td:last-child { border-radius: 0 0 8px 0; }

.interactive { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -ms-grid; display: grid; -ms-grid-columns: minmax(200px, 1fr) 1fr; grid-template-columns: minmax(200px, 1fr) 1fr; margin: 20px auto; width: 70%; max-width: 950px; gap: 20px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: start; align-content: start; }

.body { font-size: 1.2em; background-color: aliceblue; }

.flex-column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.simple-button, .form-userbuttons__submit, .form-userbuttons__clean { font: inherit; margin: 4px; border: 1px solid #acafc6bf; padding: 6px; }

.simple-shadow, .form__wrapper, .svg-container__svg, .table-container__table { -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.25); box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.25); }
