from __future__ import annotations

from typing import Self, Sequence

from sqlalchemy import select, ForeignKey, String
from sqlalchemy.orm import Mapped, mapped_column, relationship

from medlenno.common.config import Base
from medlenno.common.sqla import db


class Name(Base):
    __tablename__ = "names"

    id: Mapped[int] = mapped_column(primary_key=True)

    @classmethod
    def find_by_(cls, ) -> Self | None:
        return cls.find_first_by_kwargs()
