.svg-container {
  display: inherit;

  &__svg {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin: 10px;
    @extend .simple-shadow;

    cursor: crosshair;
  }
}