/*Table*/
.table-container {
  grid-column-start: 1;
  grid-column-end: 3;

  &__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr 1fr;
    font-size: 0.9em;
    border-collapse: collapse;
    //margin table from the bottom
    margin: 0 0 10px 0;

    border-radius: 8px;
    @extend .simple-shadow;
  }
}

.table {
  > thead,
  > thead tr,
  > tbody,
  > tbody tr {
    display: contents;
  }

  > thead tr th,
  > tbody tr td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    background-color: white;

    border-style: solid;
    border-color: black;
    border-width: 1px 1px 0 0;

  }

  > thead tr th {
    border-bottom-width: 1px;
  }


  > tbody tr:first-child > td {
    border-top: 0;
  }

  > thead tr > th:first-child,
  > tbody tr > td:first-child {
    border-left-width: 1px;
  }

  > tbody > tr:last-child > td{
    border-bottom-width: 1px;
  }

  //border-radius
  > thead tr th:first-child {
    border-radius: 8px 0 0 0;
  }

  > thead tr th:last-child {
    border-radius: 0 8px 0 0;
  }

  > tbody tr:last-child > td:first-child {
    border-radius: 0 0 0 8px;
  }

  > tbody tr:last-child > td:last-child {
    border-radius: 0 0 8px 0;
  }
}